<li class="media message">

  <div class="media-body">

    <div class="media">
      <h1> <%= message.from %> </h1>
      <div class="media-body" >
        <%= message.content %>
        <br />
        <small class="text-muted">enviado em: <%= message.created_at.strftime("%d/%m/%Y às %H:%M:%S") %></small>
        <hr />
      </div>
    </div>

  </div>
</li>